*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pagina-home{
    height: 100vh;
    background: linear-gradient(rgba(168, 159, 76, 0), rgb(145, 140, 102)) , url(../imagens/fundo.jpg);
    background-size: cover;
    background-position: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
}
.menu-principal ul{
    list-style: none;
}
.menu-principal ul li{
    display: inline-block;
}
.menu-principal ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
.menu-principal ul li a:hover{
    background-color: white;
    color: black;
}
.menu-principal ul li .Link-ativo{
    background: white;
    color: black;
}
h1{
    font-size: 70px;
    color: white;
    margin-bottom: 30px;
}
.btn{
    border: 1px solid white;
    padding: 10px 80px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
    margin: 10px;
}
.btn:hover{
    background: white;
    color: black;
}
#pagina-home main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

@media (max-width: 768px){
    header{
        justify-content: space-between;
    }

    h1{
        font-size: 40px;
        text-align: center;
    }

    .btn{
        padding: 10px 40px;
    }

    .menu-principal ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-principal ul li{
        display: block;
        margin: 10px 0;
    }
}
